*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

.header-bg{
    background-color: #000000;
}

.header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
    gap: 20px;
}

.header-menu{
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
}

.header-menu a {
    padding: 16px 0;
    display: inline-block;
    color: #fff;
    font-size: 18px;
    position: relative;
}

.header-menu a:after{
    content: "";
    display: block;
    height: 2px;
    height: 2px;
    width: 0%;
    background-color: #fff;
    margin-top: 4px;
    transition: 0.5s;
    position: absolute;
} 

.header-menu a:hover:after{
    width: 100%;
} 

@media(max-width:800px){
    .header-menu{
        gap: 20px;
    }
    .header-menu a{
        background: #111111;
        padding: 12px 0;
        border-radius: 0;
    }

    .header-menu a:hover{
        background-color: #2e2e2e;
    }

    .header a:after{
        display: none;
    }
}


@media(max-width:600px){
    .header-menu {
        gap: 12px;
    }
    .header-menu a{
        padding: 8px 12px;
        font-size: 14px;
    }
}