*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

a{
    color: inherit;
}

img{
    max-width: 100%;
    display: block;
}

.header-bg{
    background-color: #000000;
}

.header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
    gap: 20px;
}

.header-menu{
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
}

.header-menu a {
    padding: 16px 0;
    display: inline-block;
    color: #fff;
    font-size: 18px;
    position: relative;
}

.header-menu a:after{
    content: "";
    display: block;
    height: 2px;
    height: 2px;
    width: 0%;
    background-color: #fff;
    margin-top: 4px;
    transition: 0.5s;
    position: absolute;
} 

.header-menu a:hover:after{
    width: 100%;
} 

@media(max-width:800px){
    .header-menu{
        gap: 20px;
    }
    .header-menu a{
        background: #111111;
        padding: 12px 0;
        border-radius: 0;
    }

    .header-menu a:hover{
        background-color: #2e2e2e;
    }

    .header a:after{
        display: none;
    }
}


@media(max-width:600px){
    .header-menu {
        gap: 12px;
    }
    .header-menu a{
        padding: 8px 12px;
        font-size: 14px;
    }
}

.introducao-bg{
   background-color: #000000;
    color: #ffffff;
   box-shadow: inset 0px -120px white; 
}

.introducao{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0px 40px;
    max-width: 1200px;
    box-sizing: border-box;
    padding: 0 25px;
    margin: 0 auto;
}

.introducao-conteudo{
    align-self: end;
    padding-bottom: 200px;
}

.introducao img{
    height: 100%;
    object-fit: cover;
    border-radius: 4px;
}

.introducao h1{
    margin-bottom: 32px;
    font-size: 64px;
    line-height: 1.12;
}

.introducao h1 span{
    color: #ffbb00;
}

.introducao p{
    margin-bottom: 20px;
    font-size: 24px;
    line-height: 1.5;
    color: #b2b2b2;
}

.introducao a{
    display: inline-block;
    padding: 16px 32px;
    background: linear-gradient(#ffbf00, #f2a50c);
    border-radius: 4px;
    box-shadow:0 1px 2px rgba(0, 0, 0, 0.1);
    color: #332200;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 1.33;
    font-weight: bold;
}

.introducao a:hover{
    background: linear-gradient(#ffb600, #e59317);
}

.introducao-imagem{
    margin-bottom: -120px;
}